[package]
name = "arxiv"
version = "0.2.0"
authors = [
	"Samantha Nguyen, <contact@samanthanguyen.me>",
]
description = "Rust library to parse arXiv identifiers and references"
repository = "https://github.com/neoncitylights/arxiv"
readme = "README.md"
license = "MIT OR Apache-2.0"
edition = "2021"
rust-version = "1.70.0"
keywords = ["arxiv"]
categories = ["parsing", "text-processing"]
include = ["src", "LICENSE-APACHE", "LICENSE-MIT"]

[features]
default = ["url"]
# Allows for turning arXiv types into URLs, such as linking to
# the abstract URL of an article published on arXiv bsaed on its
# identifier.
url = ["dep:url"]

[dependencies.jiff]
version = "0.1.14"

[dependencies.url]
version = "2.5.3"
optional = true
